@use "../abstracts";

@forward "./reset";
@forward "./typography";

html {
  font-size: 62.5%;

  @media only screen and (max-width: 37.5em) {
    font-size: 43.5%;
  }
}

body {
  background-color: abstracts.$color-primary-light;
}
