$color-primary: hsl(245, 75%, 52%);
$color-primary-light: hsl(225, 100%, 94%);

$color-secondary: hsl(224, 23%, 55%);
$color-secondary-light: hsl(225, 100%, 98%);
$color-secondary-dark: hsl(223, 47%, 23%);

$color-paper: #fff;

$color-contrast-text: #fff;
